p{
    color:yellow;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(quizjpg.jpg);
    background-size:cover;
    height: auto;
    background-position: center;
}
.Quiz{align-content: center;
    position:relative;
    text-align: center;
    padding-top: 18%;
}
.questions{ 
    color:yellow;
    margin-left:0;
 align-content: center;
}
